:root {
  /* Color Primario */
  --color-primary: #131C26;
  
  /* Color Secundario */
  --color-secondary: #13171C;

  /* Color Terciario */
  --color-terciario: #8DBFC4;

  /* Color de Seleccion */
  --color-selection: #125964;

  /*Color blanco */
  --color-blanco: #FFFFFF;

  /* Color negro */ 
  --color-negro: #000000;


}

